* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fg: #039203c5;
    --lg: rgb(20, 236, 20);
    --db: #161c6bee;
    --blue: #0d15a58f;
    --lb: rgba(26, 117, 175, 0.9);
    --off-white: rgb(247, 241, 241);
}

body {
    background-color: var(--fg);
    font-family: "Copperplate", Helvetica, sans-serif;
}

header {
    padding: 20px 35px 30px;
    background-color: var(--db);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 37px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

header h1 a {
    color: var(--off-white)
}

header h1 a:hover {
    color: var(--lg);
}

header nav {
    margin: 7px 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;    
    font-weight: bolder;
    font-size: 2.25vw;
    color: var(--off-white);
}

header nav ul li a:hover {
    background: var(--lg);
    color: var(--header);
    border-radius: 20px;
    text-shadow: none;
    box-shadow:rgba(0, 0, 0, 0.4)
}

footer {
    background: var(--blue);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    color: var(--off-white);
    font-size: 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section {
    padding: 35px 40px 30px 40px;
    margin: 0;
    background-color: var(--blue);
}   

section h2 {
    padding-bottom: 30px;
}

a {
    text-decoration: none;
}

.section-alt {
    background-color: var(--fg);
    width: 100%;
}

.section-alt h2 {
    color: var(--db);
}

.hero {
    background-image: url("./Images/IMG_1153.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    margin: 0;
}

.hero-welcome {
    background-color: var(--lb);
    padding: 15px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75%;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 5px var(--fg);
    border-radius: 15px;
    margin: 0 auto;
}

.hero-welcome h2 {
    font-style: oblique;
    font-size: 50px;
    margin: 0 auto 30 px auto;
    color: rgb(27, 218, 68);
    max-width: 35%;
}

.hero-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.hero-welcome p {
    font-size: 25px;
    font-style: bold;
    max-width: 40%;
    margin: 30px;
}

.hero-welcome img {
    max-width: 23%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 3px var(--fg);
    border-radius: 25%;
}

.main-section {
    font-size: 45px;
    color: var(--lg);
    margin: 5px auto 5px auto;
    width: 100%;
}

.main-section p {
    font-size: 20px;
    color: var(--off-white);
}

.main-section h3 {
    color: var(--lg);
}

.main-section address {
    color: var(--off-white);
    font-size: 20px;
    padding: 3px;
    margin: 3px auto 3px auto;
    padding: 10px 0px 10px 75px;
    width: 60%;
    background-color: var(--lb);
    border: solid 5px var(--fg);
    border-radius: 15%;
}

.main-section a {
    color: var(--off-white);
}

.main-section a:hover {
    color: var(--lg);
    text-shadow: rgba(0, 0, 0, 0.4);
}

.text-right {
    text-align: right;
}

#resume {
    padding: 20px 0 0 0;
    text-align: center;
}

#resume h2:hover {
    color: var(--off-white);
    text-shadow: rgba(0, 0, 0, 0.4);
}